@import "tailwindcss";

@utility anchor-* {
  anchor-name: --value([*]);
}

@utility target-* {
  position: absolute;
  position-anchor: --value([*]);
}

@utility position-area-* {
  position-area: --value([*]);
}

a,
button {
  cursor: pointer;
}
